.about h1 {
    color: #994692;
}

.about {
    max-width: 50%;
    margin: 0 auto;
}

.about p {
    line-height: 2.5;
    color: #87ad71;
}

@media screen and (max-width: 768px) {
    .about {
        max-width: fit-content;
        padding: 0 1rem;
    }
  }