html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(48, 48, 48);
    color: #87ad71;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
}
.nav{
  display: flex;
}
.nav ul {
  display: flex;
  text-decoration: none;  
  list-style-type:none;
  font-size: 2rem;
  color: rgb(174, 218, 124);
}



.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#author-img{
   object-fit: cover;
    cursor: pointer;
    transition: all 0.5s ease; 
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 600px) {
  .nav ul {
    /* background-color: antiquewhite; */
    font-size: 22px;
    
  }
}